<div 
      [class.animate-pulse]="isLoading() == true"
      class="bg-[#16161a] border border-white/5 rounded-3xl p-8 shadow-2xl">
       <div class="flex items-start justify-between mb-8">
                <div>
                  <h2 class="text-2xl font-black text-white tracking-tight leading-none mb-3">
                    {{ displayData().title }} 

                    @if( displayData().setCode ){
                      - <span class="text-slate-400 text-lg"> {{ displayData().setCode }} </span>
                    }
                  </h2>
                  <p class="text-[12px] font-bold text-slate-500 uppercase tracking-widest">
                    As of {{ displayData().date }}
                  </p>
                </div>
                <div class="text-right">
                  <p class="text-3xl font-mono font-black text-white leading-none mb-1">
                    ${{ displayData().today | number:"1.2-2" }}
                  </p>
                  <p class="text-s font-bold text-emerald-400 font-mono"
                    [class.text-emerald-400]="displayData().diffStyle == 'plus'"
                    [class.text-red-400]="displayData().diffStyle == 'minus'"
                  >
                    {{ displayData().diffText }}
                  </p>
                </div>
      </div>
      <div class="relative w-full h-[350px] mb-8" style="max-width: 800px;">
        <canvas #priceChart></canvas>
      </div>
      <div class="flex items-center justify-center mb-8">
        <div id="filter-group" class="flex gap-1 p-1 bg-white/5 border border-white/10 rounded-xl shadow-2xl backdrop-blur-md">
            <button 
              (click)="setFilterRange('3m')" 
              class="filter-btn px-4 py-1.5 rounded-lg text-[10px] font-black uppercase tracking-widest text-slate-500 hover:text-white cursor-pointer"
              [class.bg-indigo-600]="filterRange() == '3m'"
              [class.text-white]="filterRange() == '3m'"
              >
                3M
            </button>

            <button 
              (click)="setFilterRange('1m')" 
              class="filter-btn px-4 py-1.5 rounded-lg text-[10px] font-black uppercase tracking-widest text-slate-500 hover:text-white cursor-pointer"
              [class.bg-indigo-600]="filterRange() == '1m'"
              [class.text-white]="filterRange() == '1m'"
              >
                1M
            </button>

            <button 
              (click)="setFilterRange('1w')" 
              class="filter-btn px-4 py-1.5 rounded-lg text-[10px] font-black uppercase tracking-widest text-slate-500 hover:text-white cursor-pointer"
              [class.bg-indigo-600]="filterRange() == '1w'"
              [class.text-white]="filterRange() == '1w'"
              >
                1W
            </button>

            <button 
              (click)="setFilterRange('1d')" 
              class="filter-btn px-4 py-1.5 rounded-lg text-[10px] font-black uppercase tracking-widest text-slate-500 hover:text-white cursor-pointer"
              [class.bg-indigo-600]="filterRange() == '1d'"
              [class.text-white]="filterRange() == '1d'"
              >
                1d
            </button>
        </div>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-5 gap-6 pt-8 border-t border-white/5">
                <div class="flex flex-col">
                  <span class="text-[11px] font-black text-slate-600 uppercase tracking-widest mb-1">90 Day High</span>
                  <span class="text-sm font-mono font-bold text-white">${{ displayData().max| number:"1.2-2" }}</span>
                </div>
                <div class="flex flex-col">
                  <span class="text-[11px] font-black text-slate-600 uppercase tracking-widest mb-1">90 Day Low</span>
                  <span class="text-sm font-mono font-bold text-white">${{ displayData().min | number:"1.2-2" }}</span>
                </div>
                <div class="flex flex-col">
                  <span class="text-[9px] font-black text-slate-600 uppercase tracking-widest mb-1">CCY</span>
                  <span class="text-sm font-bold text-white">USD</span>
                </div>
                <div class="flex flex-col">
                  <span class="text-[11px] font-black text-slate-600 uppercase tracking-widest mb-1">Price Provider</span>
                  <span class="text-sm font-bold text-white">TCGPlayer</span>
                </div>
                <div class="flex flex-col">
                  <span class="text-[11px] font-black text-slate-600 uppercase tracking-widest mb-1">Today</span>
                  <span class="text-sm font-mono font-bold">${{ displayData().today| number:"1.2-2" }}</span>
                </div>
              </div>
    </div>