<app-search-results></app-search-results>
@switch (pageMode()) {
    @case ("dash") {
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 animate-in my-5">
            <app-topten-list></app-topten-list>
            <app-trending-list></app-trending-list>
        </div>
        <div class="grid grid-cols-1">
            <app-news-component></app-news-component>
        </div>
    }
    @case ("details") {       
        <nav class="flex items-center gap-4 text-xs font-bold mb-8">
              <button 
                (click)="onBackBtnSelect()"
                class="cursor-pointer flex items-center gap-2 px-4 py-2 bg-white/5 hover:bg-white/10 rounded-xl text-slate-400 hover:text-indigo-400 transition-all border border-white/5"
              >
                <i class="fa-solid fa-arrow-left"></i>
                Back to Dashboard
              </button>
              <div class="h-4 w-px bg-white/10"></div>
              <div class="flex items-center gap-2 text-slate-600">
                <span class="hover:text-indigo-400 cursor-pointer" (click)="onBackBtnSelect()">Market</span>
                <span>/</span>
                <span class="text-white">Card Details</span>
              </div>
        </nav>
        <app-card-detail-page [cardId]="cardId()"></app-card-detail-page>
    }
}
