 <div class="lg:col-span-4 bg-[#16161a] border border-white/5 rounded-3xl overflow-hidden flex flex-col shadow-xl overflow-y-auto custom-scrollbar">
                <div class="p-6 border-b border-white/5">
                  <h3 class="text-xs font-black uppercase tracking-widest text-slate-400">Tracking ( {{ watchlist().length }} )</h3>
                </div>
                <div class="p-4 space-y-3 max-h-[600px] overflow-y-auto custom-scrollbar">
                  @for (card of paginatedWatchlist(); track card.id) {
                    <div class="flex items-start gap-4 p-3 hover:bg-white/5 rounded-xl transition-all cursor-pointer group"
                      [class.border-indigo-400]="selectedCardId() === card.id"
                      [class.border-1]="selectedCardId() === card.id"
                      (click)="selectItem(card.id)"
                    >
                        <img [src]="card.image_uris?.small" class="w-12 h-16 object-contain rounded shadow hidden" alt="{{ card.name}}">
                        <div class="flex-grow min-w-0">
                            <h4 class="text-sm font-bold text-slate-200 group-hover:text-indigo-400 truncate transition-colors">{{ card.name }}</h4>
                            <div class="flex items-start gap-1 mt-1 flex-col">
                                <span class="text-[9px] text-slate-500 font-bold uppercase truncate">{{ card.set_name }}</span>
                                <div class="gap-2">
                                    <span class="text-[9px] px-1 bg-white/5 rounded text-slate-500 uppercase">{{ card.rarity }}</span> 
                                    <span class="text-[9px] text-slate-500 bg-white/5 rounded uppercase truncate">#{{ card.collector_number }}</span> 
                                   @if(card.foil){
                                    <span class="text-[9px] px-1 bg-white/5 rounded text-slate-500 uppercase">Foil</span>
                                  }
                                </div>
                                
                            </div>
                        </div>
                        <span class="text-sm font-mono font-bold text-green-400 shrink-0 flex-start">$ 
                        @if(card.foil){ 
                            {{ card.prices?.usd_foil }}
                        } @else{
                            {{ card.prices?.usd }}
                        }
                        </span>
                        <button (click)="removeCard(card.id)" class="text-[9px] text-red-500/50 hover:text-red-500 uppercase font-bold tracking-widest cursor-pointer">Remove</button>
                    </div>
                  } @empty {
                    <div class="py-20 text-center">
                      <p class="text-[10px] font-bold uppercase tracking-widest text-slate-600">No Cards Tracked</p>
                    </div>
                  }
                </div>

                <div class="pagination-controls flex items-center justify-between my-6 px-4">
                  <button 
                    (click)="prevPage()" 
                    [disabled]="currentPage() === 1"
                    class="px-4 py-2 bg-white/5 rounded-lg disabled:opacity-30 hover:bg-white/10 transition">
                    Previous
                  </button>

                  <span class="text-slate-400 text-sm">
                    Page <strong>{{ currentPage() }} of {{ totalPages() }}</strong>
                  </span>

                  <button 
                    (click)="nextPage()" 
                    [disabled]="currentPage() === totalPages()"
                    class="px-4 py-2 bg-white/5 rounded-lg disabled:opacity-30 hover:bg-white/10 transition">
                    Next
                  </button>
                </div>
</div>
