<div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
    <div class="lg:col-span-8">
        <app-price-chart mode="watchlist"></app-price-chart>
        <div class="p-6 bg-white/[0.01] border border-white/5 rounded-2xl text-center mt-5">
            <p class="text-[10px] text-slate-600 font-black uppercase tracking-[0.4em] italic"> 
              Valuations sourced via MTGJSON and TCGPlayer 
            </p>
        </div>
    </div>
    <div class="lg:col-span-4">
        <app-watchlist-list></app-watchlist-list>
    </div>
</div>   
